AUTH_SECRET="hhhhhhh" # can use `npx auth` to generate a secret. Read more: https://cli.authjs.dev
AUTH_AZURE_AD_ID={CLIENT_ID}
AUTH_AZURE_AD_SECRET={CLIENT_SECRET}
AUTH_AZURE_AD_TENANT_ID={TENANT_ID}

DATABASE_URL="postgresql://postgres:password@localhost:5432/webreader"

MODULE_sources=true
MODULE_list-pages=true
MODULE_content-pages=true
MODULE_unclassified-urls=true
MODULE_fields=true




